<main class="center pt-sm">
	<div class="row t-center" id="filter">
		<button class="primary-btn">view all</button>
		<button class="alt-btn">detailed view</button>
	</div>

	<div class="row">
		<product id="product" name="ctlg.product.name" image="ctlg.product.image_url" summary="ctlg.product.short_description" description="ctlg.product.description">
	</div>
</main>
<script>
	(function () {
    $(document).ready(function (){
      $('#filter').addClass('animated fadeInUp')
    	$('#product').addClass('animated fadeInUp')
    })
  })();
</script>