<div class="product-container">
	<div class="row" ng-swipe-right="ctlg.nextProduct()" ng-swipe-left="ctlg.prevProduct()">
		<div class="col-xs-12 col-md-8 col-md-offset-2 t-center pt-xl product">
			<div class="col-xs-12 col-md-4">
				<img ng-src="{{ctlg.product.image_url}}" alt="{{ctlg.product.name}}">
			</div>
			
			<div class="col-xs-12 col-md-8 t-center">
				<h3>{{ctlg.product.name}}</h3>
				<br>
				<p ng-show="ctlg.toggleDesc">{{ctlg.product.short_description}}</p>
				<p ng-hide="ctlg.toggleDesc">{{ctlg.product.description}}</p>
				<div class="t-center pt-xl"><button class="primary-btn" ng-click="ctlg.toggleDesc = !ctlg.toggleDesc">expand</button></div>
			</div>
		</div>
	</div>

	<div class="row pt-lg">
		<div class="col-xs-12 col-md-8 col-md-offset-2 t-center pagination-links">
		<a ng-click="ctlg.prevProduct()"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></a>
		<p class="swiper">swipe</p>
		<a ng-click="ctlg.nextProduct()"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
		</div>
	</div>
</div>	